* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;

}

body {
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Abel', sans-serif;*/
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

h4  {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

h5 {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

header {

}

nav {
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;
}

nav div {
    font-size: 20px;
    margin: 1em .5em 5em .5em;
}

h2 {
    font-size: 48px;
}

.image {
    border: 15px solid #E6E6E6;
    padding: 0;
}

.circle  {
    height: 175px;
    width: 175px;
    margin: .2em;
    border: solid white 9px;
    color: white;
    border-radius: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #E6563B;
}

.yellow {
    background-color: #DEA03D;
}

.green {
    background-color: #88ae74;
}

.blue {
    background-color: #4ba8a9;
}

.circle-icon {
    height: 18px;
    width: 18px;
    /*justify-content: flex-end;*/
    margin: .3em;
    font-size: 10px;
    color: black;
    border-radius: 18px;
    font-family: 'Anton', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-icons {
    display: flex;
    justify-content: space-between;

}

.red-icon{background-color:#E6563B}
.yellow-icon{background-color: #DEA03D}
.green-icon{background-color: #88ae74}
.blue-icon{background-color: #4ba8a9}

.featured-project {
    font-size: .8em;
    font-family: 'Abel', sans-serif;
}

.logo-codeup {
    height: 105px;
    width: 105px;
}

.nav-logo {
    position: relative;
    bottom: 85px;
    left: 190px;
}





.nav-top {
    height: 65px;
    margin-top: 100px;

}

header {
    font-family: 'Abel', sans-serif;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}


/*XS Media Query*/

@media screen and (max-width: 575px) {
    .grey-on-top {
        height: 150px;
    }

    .logo-codeup {
        background-color: transparent;
    }

    .the-last {
        display: none;
    }

    .aside-bar {
        display: none;
    }

    h5 {
        text-align: center;
    }


}

/*Small Media Query*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    .circle-container {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid darkgray;
    }

    .circle {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin: .3em;
    }

    h4 {
        font-size: 28px;
    }

    .the-last {
        display: none;
    }

    .aside-bar {
        display: none;
    }

    .nav-logo {
        position: relative;
        bottom: 85px;
        left: 270px;
    }

    h2 {
        margin-top: -85px;
    }

    nav {
        position: relative;
        bottom: 150px;
    }

    .work {
        margin-right: 75px;
    }

    .blog {
        margin-left: 75px;
    }



}
/*Medium Query*/
@media screen and (min-width: 768px) and (max-width: 991px)  {
    .circle-container {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid darkgray;
    }

    .selected-work {
        text-align: left;
    }
    .aside-bar {
        font-family: 'Anton', sans-serif;
    }

    .twitter {
        font-family: 'Abel', sans-serif;
        font-size: 14px;
    }

    .the-last {
        display: flex;
        align-items: center;
    }

    .thumbnail {
        width: 60px;
        height: 60px;
    }

    .logo-codeup {
        position: relative;
        right: 180px;
    }

    h2 {
        margin-top: -160px;
        margin-right: 300px;
        font-size: 40px;
    }

    nav  {
        margin-top: -75px;
        margin-left: 475px;
    }

}

/*LARGE DEVICES AND UP*/
@media screen and (min-width: 992px) {
    .circle-container {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid darkgray;
    }

    .selected-work {
        text-align: left;
    }
    .aside-bar {
        font-family: 'Anton', sans-serif;
    }

    .twitter {
        font-family: 'Abel', sans-serif;
        font-size: 14px;
    }

    .the-last {
        display: flex;
        align-items: center;
    }

    .thumbnail {
        width: 60px;
        height: 60px;
    }

    .logo-codeup {
        position: relative;
        left: -75px;
    }

    h2 {
        margin-top: -165px;
        margin-right: 700px;
    }

    nav {
        margin-top: -80px;
        margin-left: 700px;
    }
}

/*@media screen and (min-width: 1200px) {*/
/*    .circle-container {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        border-bottom: 2px solid darkgray;*/
/*    }*/

/*    .selected-work {*/
/*        text-align: left;*/
/*    }*/
/*    .aside-bar {*/
/*        font-family: 'Anton', sans-serif;*/
/*    }*/

/*    .twitter {*/
/*        font-family: 'Abel', sans-serif;*/
/*        font-size: 14px;*/
/*    }*/

/*    .the-last {*/
/*        display: flex;*/
/*        align-items: center;*/
/*    }*/

/*    .thumbnail {*/
/*        width: 60px;*/
/*        height: 60px;*/
/*    }*/

/*    .logo-codeup {*/
/*        position: relative;*/
/*        left: -75px;*/
/*    }*/

/*    h2 {*/
/*        margin-top: -165px;*/
/*        margin-right: 700px;*/
/*    }*/

/*    nav {*/
/*        margin-top: -70px;*/
/*        margin-left: 700px;*/
/*    }*/



/*}*/



