* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;

}

body {
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Abel', sans-serif;*/
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

h4  {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

h5 {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

.image {
    border: 15px solid #E6E6E6;
    padding: 0;
}

.circle  {
    height: 175px;
    width: 175px;
    margin: .2em;
    border: solid white 9px;
    color: white;
    border-radius: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #E6563B;
}

.yellow {
    background-color: #DEA03D;
}

.green {
    background-color: #88ae74;
}

.blue {
    background-color: #4ba8a9;
}

.circle-icon {
    height: 18px;
    width: 18px;
    /*justify-content: flex-end;*/
    margin: .3em;
    font-size: 10px;
    color: black;
    border-radius: 18px;
    font-family: 'Anton', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-icons {
    display: flex;
    justify-content: space-between;

}

.red-icon{background-color:#E6563B}
.yellow-icon{background-color: #DEA03D}
.green-icon{background-color: #88ae74}
.blue-icon{background-color: #4ba8a9}

.featured-project {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

@media screen and (max-width: 575px) {
    .the-last {
        display: none;
    }

    .aside-bar {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .circle-container {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid darkgray;
    }

    .circle {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin: .3em;
    }

    h4 {
        font-size: 28px;
    }

    .the-last {
        display: none;
    }

    .aside-bar {
        display: none;
    }


}

@media screen and (min-width: 768px) {
    .selected-work {
        text-align: left;
    }
    .aside-bar {
        font-family: 'Anton', sans-serif;
    }

    .twitter {
        font-family: 'Abel', sans-serif;
        font-size: 14px;
    }

    .the-last {
        display: flex;
        align-items: center;
    }

    .thumbnail {
        width: 60px;
        height: 60px;
    }

}


